<div class>
    <table class="table table-striped">
      <thead>
          <tr>
            <th>id</th>
            <th>payloadhash</th>
            <th>phonenumber</th>
            <th>firstname</th>
            <th>surname</th>
            <th></th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let Client of clientData">
          <td>{{ Client.id }}</td>
          <td>{{ Client.payloadhash }}</td>
          <td>{{ Client.phonenumber }}</td>
          <td style="text-transform: capitalize">{{ Client.firstname }}</td>
          <td style="text-transform: capitalize">{{ Client.surname }}</td>
          <td><button (click)='deleteById(Client.id)'>DELETE</button></td>
      </tr>
    </tbody>
  </table>
</div>