<div class>
  <table class="table table-striped" style="table-layout: fixed; width: 100%">
    <thead>
      <tr>
        <th>id</th>
        <th>payloadhash</th>
        <th>phonenumber</th>
        <th>firstname</th>
        <th>surname</th>
        <th>action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let Client of clientData">
        <td><span style="word-break:break-all;">{{ Client.id }}</span></td>
        <td><span style="word-break:break-all;">{{ Client.payloadhash }}</span></td>
        <td><span style="word-break:break-all;">{{ Client.phonenumber }}</span></td>
        <td style="text-transform: capitalize">{{ Client.firstname }}</td>
        <td style="text-transform: capitalize">{{ Client.surname }}</td>
        <td><button (click)='deleteById(Client.id)'>DELETE</button><tr>
        <button (click)='updateById(Client.id,"fiii")'>UPDATE</button></td>
      </tr>
    </tbody>
  </table>
</div>
